{% extends 'dbase/base.html' %}

{% block title %} Home {% endblock %}

{% block main %}

    <section>
        <h2> Editando Cliente id: {{client.id}}</h2>

        <form method='POST' action="">
            {% csrf_token %}

            <p> 
                <strong> <label for="nome"> Nome: </label> </strong>
                <input type="text" id='nome' name='nome' value='{{client.name}}'>
            </p>
            <p> 
                <strong>  <label for="email"> E-mail: </label> </strong>
                <input type="email" id='email' name='email' value='{{client.email}}'>
            </p>
            <p>
                <strong> <label for="cpf"> CPF: </label> </strong>
                <input type="text" id='cpf' name='cpf' value='{{client.cpf}}'>
            </p>
            <p>
                <strong> <label for="birth"> Data de Nascimento: </label> </strong>
                <input type="date" id='birth' name='birth'>
                {{client.birth}}
            </p>

            <button type='submit'> Editar </button>
        </form>
    </section>
{% endblock %}